.aboutContainer {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    background-color: aliceblue;
    font-family: inherit;
}

.aboutContainer h2 {
    text-align: center;
    padding: 1em 0.5em;
}













img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
