.footerContainer {
  background: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footerContainer a {
  text-decoration: none;
  color: aliceblue;
}

.footerContainer a:hover {
  text-decoration: underline;
  color: blueviolet;
}
