.navContainer {
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  z-index: 1000;
  padding: 1em;
  font-weight: bold;
  background: none;
  color: #f0f0f0;
  transition: all 0.3s ease;
  background: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  flex: 1;
}

.navContainer .logo a {
  margin-left: 3rem;
  font-size: 2rem;
  text-decoration: none;
  color: #f0f0f0;
}

.navContainer ul {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3em;
  list-style: none;
  list-style-position: inside;
  margin-right: 3rem;
  margin-top: 1em;
}

.navContainer ul li a {
  text-decoration: none;
  color: #f0f0f0;
}

.navContainer ul li a:hover {
  color: blueviolet;
}

.menu {
  display: none;
}

@media only screen and (max-width: 960px) {
  .navContainer ul {
    display: none;
  }
}
