.homeContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  flex: 2;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 16rem;
}

.text1 {
  font-size: 1.5em;
}

.text2 {
  font-size: 4em;
  font-weight: 600;
}

.text3,
.text4 {
  font-size: 40px;
  margin: 0.3em 0;
}

.text1,
.text2,
.text3,
.text4 {
  margin-left: 10rem;
  color: aliceblue;
}

.text3 span {
  font-style: italic;
  opacity: 0.8;
  color: darkviolet;
}
